@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montagu+Slab:wght@300;600&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    font-family: "Lato", "Roboto", sans-serif;
}

/* The below line is used for formating flexboxes or grids, safely ignore */
/* * { border: 1px solid pink; } */

section, footer, nav {
    width: 100%;
    padding: 40px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

nav {
    padding-bottom: 20px;
}

a, button {
    color: #275754;
    text-decoration: none;
    transition: 180ms;
}

nav a:hover {
    color:#E5E7EB;
    font-size: 1.7rem;
}

button {
    background-color: none;
}

nav {
    background-color: #031829;
    color: white;
    height: 30px;
    font-size: 1.6rem;
    text-align: center;
}

.navLinks {
    display: flex;
    justify-content: space-between;
}

.navLinks a {
    padding-left: 20px;
}

.content, .quotes {
    width: 80%;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quotes {
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
}

.quotes h4 {
    text-align: end;
    font-size: 1rem;
    font-weight: 600;
}

.smallText {
    color:#275754;
    font-size: 0.8rem;
    font-weight: 400;
}

#mainImage {
    max-height: 400px;
}

#mainSection {
    background-color: #031829;
    color: white;
}

#mainTitle {
    font-family: "Montagu Slab", "Roboto", sans-serif;
    line-height: 3rem;
    font-weight: 600;
    font-size: 3rem;
}

.main {
    padding-left: 20px;
    align-self: center;
}

#skillSection {
    flex-direction: column;
}

footer {
    background-color: #031829;
    color: #E5E7EB;
}

footer .content {
    width: 80%;
}

.social {
    margin-right: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
}