@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montagu+Slab:wght@300;600&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    font-family: "Lato", "Roboto", sans-serif;
}

/* The below line is used for formating flexboxes or grids, safely ignore */
/* * { border: 1px solid pink; } */

section, footer, nav {
    width: 100%;
    padding: 40px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

a {
    color: #0a9396;
    text-decoration: none;
    transition: 300ms;
}

a:hover {
    color:#E5E7EB;
    font-weight: 600;
}

/* will need to set up a floating nav */
nav {
    background-color: #031829;
    color: #E5E7EB;
    height: 30px;
    padding-bottom: 10px;
    font-size: 1.6rem;
    text-align: center;
}

.navLinks {
    display: flex;
    justify-content: space-between;
}

.navLinks a {
    padding-left: 20px;
}

button {
    background-color;
}

#mainImage {
    max-height: 400px;
    justify-content: center;
}

#mainSection {
    background-color: #031829;
    color: #E5E7EB;
}

#mainTitle {
    font-family: "Montagu Slab", "Roboto", sans-serif;
    line-height: 3rem;
    font-weight: 600;
    font-size: 3rem;
}

.main {
    padding-left: 20px;
    align-self: center;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quotes {
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    transition: 500ms;
}

.content, .quotes {
    width: 80%;
}

.quotes h4 {
    padding-right: 40px;
    text-align: end;
    font-size: 1rem;
    font-weight: 600;
}

.smallText {
    color:#0a9396;
    font-size: 0.8rem;
    font-weight: 400;
}

.smallText a:hover {
    color: #001219;
}

footer {
    background-color: #031829;
    color: #E5E7EB;
}

footer .content {
    width: 80%;
}

.social {
    margin-right: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
}