@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montagu+Slab:wght@300;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --dark-blue: #031829;
    --aqua-blue: #0a9396;
    --pale-white: #E5E7EB;
    --its-red: #e63946;
}

/* The below line is used for formating flexboxes or grids, safely ignore */
/* * { border: 1px solid pink; } */

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    font-family: "Lato", "Roboto", sans-serif;
}

header, section, footer, nav {
    width: 100%;
    padding: 40px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sectionLight {
    background-color: var(--pale-white);
}

.sectionDark {
    background-color: var(--dark-blue);
    color: var(--pale-white);
}

h1, h2, h3, h4 {
    font-family: "Montagu Slab", "Roboto", sans-serif;
    font-weight: 600;
    line-height: 90%;
}

a {
    color: var(--aqua-blue);
    text-decoration: none;
    transition: 500ms;
}

button {
    padding: 5px 10px;
    border: 1px solid var(--aqua-blue);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.0);
    color: var(--aqua-blue);
    cursor: pointer;
    transition: 200ms;
    font-weight: 600;
}

a:hover, button:hover {
    color: var(--pale-white);
    border-color: var(--pale-white);
}

hr {
    width: 80%;
    color: var(--pale-white)
}

/* will need to set up a floating nav */
nav {
    background-color: var(--dark-blue);
    color: var(--pale-white);
    height: 30px;
    padding-bottom: 10px;
    font-size: 1.6rem;
    text-align: center;
}

.navLinks {
    width: 15%;
    display: flex;
    justify-content: space-between;
}

.introText {
    padding-left: 20px;
}

.introText h1 {
    font-size: 3rem;
    line-height: 2.8rem;
}

.main, img {
    max-height: 400px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content, .quotes {
    width: 80%;
}

nav .content {
    justify-content: space-between;

}

.quotes {
    font-weight: 300;
    font-size: 1.8rem;
    text-align: center;
}

.quotes h4 {
    font-family: 'Open Sans', 'Roboto', sans-serif;
    padding-right: 40px;
    text-align: end;
    font-size: 0.9rem;
}

.smallText {
    color: var(--aqua-blue);
    font-size: 0.8rem;
    line-height: 90%;
    font-weight: 600;
}

.smallText a:hover {
    font-weight: 600;
    cursor: pointer;
    color: var(--dark-blue);
}

#projects {
    background-color: var(--its-red)
}

.projectContainer {
    width: 80%;
    margin: 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.projectBox img {
    max-width: 300px;
    max-height: 300px;
}

.projectText {
    padding: 0px 20px;
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    max-width: 80%;
    height: auto;
    padding: 20px 30px;
    background-color: var(--pale-white);
    border-radius: 5px;
    filter: drop-shadow(-3px 3px 10px var(--dark-blue));
}

#modalCloseBtn {
    background-color: var(--its-red);
    color: var(--pale-white);
    border: 1pt solid var(--its-red);
    position: fixed;
    top: 5px;
    right: 5px;
    font-weight: 900;
}

.modalCopy {
    width: auto;
    padding: 10px;
}


footer {
}

footer .social {
    margin-right: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
}